* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
  background: #121212;
  color: #e0e0e0;
}

#root {
  width: 100%;
}

.container {
  display: flex;
  margin-top: 60px;
}

.sidebar {
  background: #30115e;
  color: rgb(50, 251, 226);
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  border-right: 1px solid #444;
  width: 240px;
}

.sidebar ul {
  list-style: none;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 260px;
  padding-bottom: 60px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}